@media only screen and (max-width: 700px) {
    .container-consultas{
        width: 90%;
        margin: auto;
    }

    .container-consultas h1{
        text-align: center;
        color: aliceblue;
        margin-top: 1rem;
    }

    .container-consultas form{
        display: grid;
    }

    .container-consultas form label{
        margin-top: 1rem;
    }

    .container-button-contacto{
        margin: auto;
    }

    .container-consultas form label{
        color: white;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }

    #button-contacto{
        width: 100%;
        margin-top: 1.5rem;
        padding: 0.3rem;
        border-radius: 8px;
        background-color: green;
        border: 2px solid black;
    }

    .container-consultas form input, .container-consultas form textarea{
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
    }

    .container-consultas form textarea{
        height: 10rem;
    }

    .container-contacto-ws{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .container-contacto-ws h4{
        color: white;
        text-align: center;
    }

    .container-contacto-ws ul li{
        list-style: none;
        color: white;
        display: flex;
    }

    .container-contacto-ws ul li a{
        font-style: none;
        text-decoration: none;
        color: green;
        font-weight: bold;
        padding-left: 0.4rem;
    }

    .container-contacto-ws ul li p{
        color: rgba(213, 223, 73, 0.842);
        font-weight: bold;
        padding-left: 0.4rem;
    }

    .container-contacto-ws  .contacto-horario-atencion{
        margin-top: 2rem 0 2rem 0;
    }

    .contacto-horario-atencion p{
        padding-left: 2rem;
        font-weight: bold;
    }   
}