@media only screen and (max-width: 700px) {

    footer{
        background-color: black;
        padding: 1rem;
    }
    body {
        margin: auto;
      }

    .container-footer{
        /*padding: 1rem;*/
        width: 90%;
        margin: auto;
        display: flex;
    }
    .footer-logo{
        font-size: 24px;
        color: aqua;
    }

    .container-develeper{
        width: 90%;
        margin: auto;
        margin-bottom: 0;
        text-align: center;
    }

    .container-develeper p{
        font-size: 10px;
        margin-bottom: 0.3rem;
    }
}