@media only screen and (max-width: 700px) {
    *{ 
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    html {
        min-height: 100%;
        position: relative;
      }

      body {
        margin: auto;
      }
      footer {
        width: 100%;
        bottom: auto;
      }

    h3{
        font-family: 'Chakra Petch', sans-serif;
        font-weight: bolder;
    }

    .header-link-fire{
        font-size: 24px;
        color: aqua;
    }

    .container-header{
        box-sizing: border-box;
        margin-top: 1rem;
        border-bottom: 3px black;
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        align-items: center;
    }

    .header-link{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-weight: 1000;
        font-size: 14px;
    }
}
