@media only screen and (max-width: 700px) {
    *{ 
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    img{
        width: 30%;
    }
    .container-frase span{
        color: rgb(109, 231, 115);
        font-weight: bold;
    }

    .container-frase{
        display: flex;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
    }

    .container-frase-imagen{
        width: 40%;
    }
    
    .container-frase-imagen img{
        width: 100%;
    }

    .container-frase-texto{
        width: 60%;
    }

    .container-frase-texto p{
        width: 100%;
    }

    .container-ciudades{
        margin-top: 2rem;
        box-sizing: border-box;
    }

    .container-lista-ciudades{
        display: flex;
        text-align: center;
        margin-top: 1rem;
    }

    .lista-ciudades-1 , .lista-ciudades-2{
        width: 50%;
    }

    .container-lista-ciudades ul li{
        list-style: none;
        color: white;
        text-align: initial;
    }
}