@media only screen and (max-width: 700px) {

    *{ 
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    /*Color del fondo*/

    /*Input General*/
    .input-label-container{
        color: #f8f8f8;
        box-sizing: border-box;
    }

    .input-label-container-option{
        box-sizing: border-box;
    }

    .input-label-container label{
        margin: 15px 0 5px 0;
        font-weight: bold;
        font-family: 'Secular One', sans-serif;
    }

    .input-label-container input{
        background-color: #fef6e4;
        border: 2px solid #ff8906;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select{
        box-sizing: border-box;
    }

    .input-label-container-option label{
        margin: 15px 0 5px 0;
        color: #f8f8f8;
        font-weight: bold;
        font-family: 'Secular One', sans-serif;
    }

    .input-label-container-option select, .input-label-container select option{
        background-color: #fef6e4;
        border: 2px solid #ff8906;
        border-radius: 4px;
    }

    .container-total-producto{
        border-bottom: 2px solid white;
        width: 80%;
    }

    .container-total-producto h3{
        font-size: 18px;
    }

    .button-solicitar{
        text-align: center;
        margin: 10px 0 20px 0;
    }

    .container-total{
        width: 100%;
        display: flex;
    }

    .container-total p, .container-total span{
        width: 100%;
    }

    .container-total span{
        text-align: start;
    }


    /*********************DESIGN STATUS********************/
    /******************************************************/

    .container-status-mb{
        margin-top: 15vh;
        align-items: center;
    }

    .container-status-mb h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 1000;
        text-align: center;
    }

    .container-text-volver p{
        margin-top: 2rem;
        font-size: 14px;
        text-align: center;
    }

    .container-buton-ir{
        margin-top: 4rem;
    }

    .button-ir{
        text-align: center;
        padding: 0.8rem;
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        color: azure;
        text-decoration: none;
        font-weight: bold;
    }

    p, h3, h2, span{
        color: #f8f8f8;
    }

    #icon-check{
        font-size: 10rem;
        color: green;
    }

    .container-monto-solicitado{
        display: flex;
        width: 100%;
    }

    .monto-solicitado-titulo{
        width: 50%;
    }

    .container-costo-servicio{
        display: flex;
        width: 100;
    }

    .costo-servicio{
        width: 50%;
    }

    .text-end{
        width: 50%;
        margin: auto;
    }

}